{% include 'navbar.html' %}
{% load static %}
<style>
figure.homefig{
    float: left;
}
div.introBlock{
    float: left;
}
figure.contactfig{
    margin-left: 650px;
    margin-top: 3em;
    position: absolute;
}

p.contactText{
    border-bottom: 1px solid #cccccc;
}
blockquote {
    display: block;
    width: 550px;
    text-align: left;
    float: left;
}
#Contact_nav{
    background: black;
}

</style>

<head>
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="{% static '/QueryStyleSheet.css' %}">
</head>

<body>
<div id="wrapper">

<div class="introBlock">

<blockquote>
<h2>Contact</h2>

<p class="textBox contactText">This webserver is created and maintained by the group of: <br><br>
    Prof. Dr. Marcel H. Schulz <br>
    Computational Epigenomics & Systems Cardiology<br>
    Institute of Cardiovascular Regeneration<br>
    Uniklinikum and Goethe University Frankfurt<br> <br>
    Have a look at our <strong><a class="link" href="https://schulzlab.github.io/index.html">website</a></strong>!
</p>

<p class="textBox contactText"> If you have any questions or comments regarding this website or the database, please contact
us via the following email address. We are glad to hear every kind of feedback.
<br>
<br>
<b>epiregio@uni-frankfurt.de</b>
</p></blockquote>

<figure class="contactfig">
<img class='contactLetter' src="{% static '/Letter.png' %}" width="200px" alt = 'contact'/>
</figure>
</div>
</div>
</body>
{% include 'footer.html' %}