{% include 'navbar.html' %}
{% load static %}


<head>
    <title>EpiRegio</title>
    <script src="{% static 'collected_JS_functions.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/QueryStyleSheet.css' %}">
    <script src="{% static 'ajax_cellTypes.js' %}"></script>
    <script src="{% static 'papaparse.min.js' %}"></script>
    <script src="{% static 'jquery-validation-1.19.1/dist/jquery.validate.js' %}"></script>
</head>
<body>
<div id="wrapper">
<br>
<br>

<div class="no_data_div" style="padding-left: 20px;">
<h1 class="inputLabel" style="margin-left: 50px; margin-right:50px;">{{error_msg}}</h1>
<br>
<table class="error_table">
<tr>
    <td>Query:</td><td>{{query_string}}</td> </tr>
<tr>
    <td>Cell types/tissues:</td><td>{{cell_types_string}}</td> </tr>
{% if overlap %}
<tr>
    <td>Overlap:</td><td>{{overlap}}%</td>
</tr>
{% endif %}
<tr>
    <td>Score range:</td><td> {{score_thresh.1}}, {{score_thresh.2}}</td></tr>
<tr>
    <td>Activity threshold:</td><td> {{activ_thresh}}</td></tr>
</table>
<br>
</div>
<br>
<br>

{% if invalid_list|length > 0 %}
<div class="no_data_div" style="padding-left: 20px;"><h1 class="inputLabel" style="font-size: 18px;">These are not valid inputs:</h1>
{% for invalid in invalid_list %}
    {{invalid}}
{% endfor %}
<br>
</div>
<br>
<br>
{% endif %}

</div>
</body>
{% include 'footer.html' %}

