{% load static %}

<!-- INCLUDE STYLES AND FUNCTIONALITY ---------------------------------------------------------------------------------- -->
<style>
html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  height: 100vh;
}
<!--body{-->
<!--background: #c9c9c9;-->
<!--}-->
<!--div{-->
<!--  background: white;-->
<!--}-->

div.wrapper {
  min-height: 76vh;
  height: auto !important;
  margin-bottom: -26px; /* the bottom margin is the negative value of the footer's total height */
}

#wrapper:after {
  content: "";
  display: block;
  height: 26px; /* the footer's total height */
}

#footer {
  bottom: 0;
  height: 26px; /* the footer's total height */
  text-align: right;
  font-family: Calibri;
  width: 100%;
  position: fixed;
}

#footer-content {
  background-color: #073946;
  height: 24px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
  padding: 4px;
  display: in-line;

}
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 32px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  text-align: left;
}

/* Add styles to the form container */
.form-container {
  max-width: 400px;
  padding: 10px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: Calibri;
}

a.link_foot{
    color: white;
    text-decoration: none;
}
a.link_foot:hover{
 background: black;
 text-decoration: none;
}

p.copyright_notice{
position: relative;
color: white;
text-align: center;
}

</style>

<footer id="footer"><div id="footer-content">
<div id="tested_browsers">
  <a style="float: left; position: relative; color: white;">Tested for:</a>
</div>
<img class='homefig' src="{% static '/Icons/Chrom-256C.png' %}" style="position:static; width: 25px; float: left; padding-left: 10px;" alt = 'Chrome_icon'/>
<img class='homefig' src="{% static '/Icons/Firefox_256C.png' %}" style="position:static; width: 25px; float: left; padding-left: 10px;" alt = 'Firefox_icon'/>
<img class='homefig' src="{% static '/Icons/MS_Edge200C.png' %}" style="position:static; width: 20px; float: left; padding-left: 10px;" alt = 'Edge_icon'/>

<a id="copyright_notice" style="margin-right: 100px; color: white;">&copy; 2020 Institute for Cardiovascular Regeneration, Goethe University Frankfurt</a>

<a style="color:white;" class="link_foot" href="/help">Help</a>&emsp;&emsp;&emsp;
<a style="color:white;" class="link_foot" href="/contact">Contact</a>&emsp;&emsp;&emsp;
<a style="color:white;" class="link_foot link_pol">Data policy</a>&emsp;


<div class="form-popup" id="myForm" tabindex="-1">
  <form class="form-container">
    We follow the data policy of the Goethe-Universität Frankfurt. The german version of the declaration can be found <a href="http://www.uni-frankfurt.de/70876599/Datenschutzerkl%C3%A4rung?">here</a>.
      All of the user's input is temporarily saved for the sole purpose of retrieving the data of interest.
      No input is stored after a user query is completed. Beside of publicly available libraries,
      no other third party software is used in this website.
</form>
</div>

</div></footer>
<script>
$(".link_pol").click(function(e){
    e.preventDefault();
    $(".form-popup").fadeIn(300,function(){$(this).focus();});
});

$(".form-popup").on('blur',function(){
    $(".form-popup").fadeOut(300);
});
</script>