{% include 'navbar.html' %}
{% load static %}
<style>
a.export{
font-family: adhabi;
font-size: 18;
text-align: left;
font-weight:normal;
}
caption{
padding:20px;
}
</style>

<head>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/datatables.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/Buttons-1.6.0/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/QueryStyleSheet.css' %}">

    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/pdfmake-0.1.36/vfs_fonts.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'TableStyleSheet.css' %}">
</head>
<br>
<br>
<p hidden id="export_string"> {{request.session.export_string}} </p>
<table id="QueryResults" class="cell-border hover order-column">
    <caption>Results based on your Query for the genes: <strong id="queried_genes"> {{request.session.query_string}} </strong></caption>

    <thead>
        <script>
            var export_string = document.getElementById("export_string").textContent;

            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            today = mm + '_' + dd + '_' + yyyy;

            $(document).ready( function () {
            $('#QueryResults').DataTable({
                 "aLengthMenu": [[50, 100, -1], [50, 100, "All"]],
                 "pageLength": 50,
                 dom: 'lfBtip',
                 buttons: {
                        buttons: [
                            { extend: 'excel', filename: today.concat(" GeneID Query ", export_string)},
                            { extend: 'csv', filename: today.concat(" GeneID Query ", export_string)},
                            { extend: 'pdf', filename: today.concat(" GeneID Query ", export_string), pageSize: "LEGAL", orientation: 'landscape'}
                          ]
                      }
                 } );
            } );

        </script>
        <tr>
            <th>Gene ID</th>
            <th>REM ID</th>
            <th>Chromosome</th>
            <th>Gene Start</th>
            <th>Gene End</th>
            <th>Regression Coefficient</th>
            <th class="tooltip"> log <i>p</i> Value<span class="tooltiptext_top">
                The <i>p</i> value represents all cell types for the respective REM.</span></th>
            <th>CREMS</th>
        </tr>
    </thead>
    <tbody>
    {% for item in data %}
        <tr>
            <td>{{ item.geneID }}</td>
            <td>{{ item.REMID }}</td>
            <td>{{ item.chr }}</td>
            <td>{{ item.start }}</td>
            <td>{{ item.end }}</td>
            <td>{{ item.regressionCoefficient }}</td>
            <td> {{item.pValue}}</td>
            <td> <a href="/geneQuery_search/{{ item.REMID }}/"> {{item.REMID}}, {{item.REMID}} </a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


