{% include 'navbar.html' %}
{% load static %}
{% load rem_template_tags %}

<head>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/datatables.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/Buttons-1.6.0/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/QueryStyleSheet.css' %}">

    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/pdfmake-0.1.36/vfs_fonts.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'TableStyleSheet.css' %}">
</head>
<body>
<div id="wrapper">
<br>
<br>
<div class="no_data_div" style="border: 1px solid #bfbfbf; width: 800px; "><p class="inputLabel" style="margin-left: 10px; margin-right:10px;">For further details on the genes,
    click on the IDs in the table below which will redirect you to the Ensembl webpage.</p></div>

<br>
<br>
<table id="QueryResults" class="cell-border hover order-column">
    <caption>More details on your queried genes: <strong id="queried_genes"> {{query_string}} </strong></caption>

    <thead>
        <script>
            var export_string = "{{export_string}}";

            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            today = mm + '_' + dd + '_' + yyyy;

            $(document).ready( function () {
            $('#QueryResults').DataTable({
                 "aLengthMenu": [[50, 100, -1], [50, 100, "All"]],
                 "pageLength": 50,
                 dom: 'lfBtip',
                 buttons: {
                        buttons: [
                            { extend: 'excel', filename: today.concat("_GeneDetails_Query__", export_string)},
                            { extend: 'csv', filename: today.concat("_GeneDetails_Query__", export_string)},
                            { extend: 'pdf', filename: today.concat("_GeneDetails_Query__", export_string), pageSize: "LEGAL", orientation: 'landscape'}
                          ]
                      }
                 } );
            } );

        </script>
        <tr>
            <th>Gene ID</th>
            <th>Gene symbol</th>
            <th>Chromosome</th>
            <th>Gene Start</th>
            <th>Gene End</th>
            <th>Strand</th>
            <th>Genome annotation version</th>
        </tr>
    </thead>
    <tbody>
    {% for item in data %}
        <tr>
            <td><a id="ensembl_link" class="link" href="https://www.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g={{ item.geneID }}">{{item.geneID}}</a></td>
            <td>{{ item.geneSymbol }}</td>
            <td>{{ item.chr }}</td>
            <td>{{ item.start }}</td>
            <td>{{ item.end }}</td>
            <td>{{ item.strand }}</td>
            <td>hg38</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</body>

{% include 'footer.html' %}

