{% include 'navbar.html' %}
{% load static %}


<!-- INCLUDE STYLES AND FUNCTIONALITY ---------------------------------------------------------------------------------- -->

<head>
    <script src="{% static 'collected_JS_functions.js' %}"></script>
    <script src="{% static 'ajax_geneSymbol.js' %}"></script>
    <script src="{% static 'ajax_cellTypes.js' %}"></script>
    <script src="{% static 'papaparse.min.js' %}"></script>
    <script src="{% static 'jquery-validation-1.19.1/dist/jquery.validate.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/QueryStyleSheet.css' %}">
</head>

<body onload="validateGeneQueryForm_symbolic()" onbeforeunload="setDefaultGeneID()">
<div id="wrapper">

<!-- INITIATE INPUT FORM ---------------------------------------------------------------------------------- -->

<form name="geneQueryForm" id="geneQueryForm" class='django_forms' method="POST" action="/geneQuery_search/" autocomplete="off">
{% csrf_token %}

    <h1 class="queryDescription"><u>Look up genes in the database:</u></h1>

<br>
<!-- GET DB Version -------------------------------------------------------------------------------- -->

<div style="display: none;">  <!-- change to inline-block to make visible again -->
<h1 style="display: inline; " class="inputLabel">Database version:&nbsp;&nbsp;</h1>
<select style="display: inline;" name="db_version" id="db_version" >
<option selected='selected' value="db_version_1">Version 1</option>
</select></div>
<!--<br>-->
<!--<br>-->
<!--<br>-->

<!-- GET GENE FORMAT ---------------------------------------------------------------------------------- -->
<div style="display: inline-block;">
<h1 style="display: inline;" class="inputLabel">Gene nomenclature:&nbsp;&nbsp;</h1>
    <button type="button" class="format_active" id="symbol_format" name="symbol_format" onclick="symbol_formatClick()" value="active">gene symbol</button>
    <button type="button" class="format_inactive" id="id_format" name="id_format" onclick="id_formatClick()" >ensembl ID</button>
    <!--    <select style="display: inline;"  name="gene_format" id="gene_format" onchange="switchGeneIDField()" >-->
<!--    <option selected='selected' value="id_format">ensembl ID</option>-->
<!--    <option value="symbol_format">gene symbol</option>-->
<!--</select>-->
</div>
<br>
<br>


<!-- GET GENE ID ---------------------------------------------------------------------------------- -->

    <table class="geneQueryTable">
        <tr>
            <td>
            <h1 class="inputLabel" id="geneHeader"> Gene symbol:</h1>
            <input class='inputForm' id="geneID_symbolic" name='geneID_symbolic' type="text"  placeholder="Type and select buttons on the right, deselect by clicking below" />
            <input width="90%" class='inputForm' id="geneID_numeric" name='geneID_numeric'  type="hidden" placeholder="E.g. ENSG00000139874, separate multiple IDs by comma" />
            <p  style="visibility:visible;" class="selectionHeader" id="container_geneSymbolHeader"> Currently selected:</p>
            <div class ='selectedButtons'  id="container_geneSymbol"> </div>
            </td>

            <td width="900px" height="100px" >
                <div class="ajax_search_list" id="search-results-gene"></div>
            </td>
        </tr>
        <tr>
            <td><div class="uploadCSVForm"><p class="selectionHeader tooltip" style="color:black;"><u>Or</u> upload a list of genes as csv- or txt-file
                <b class="info-icon">&#9432;</b>:<span class="tooltiptext_right" style="width:250px;">Any delimiter should work, as long as the format is consistent.</span></p>
                <div id="uploadCSVDiv" > <input oninput="uploadCSV()" style="font-size:14px;" id="csv_upload" name="csv_upload" type="file" accept=".csv,.txt" > </div>
                <button type="button" class="clearFiles" onclick="clearFileInputField('uploadCSVDiv')">Clear files </button></div>
            </td>
        </tr>

<!-- CELL TYPE SEARCH WITH BUTTONS ---------------------------------------------------------------------------------- -->

        <tr>
            <td height="150px" width="700px">
                <br>
                <div class="toggle">
                <h1 class='inputLabel' id="fieldname">Filter for cell types/tissues:</h1></div>


                <input class='inputForm' type="text" id="search" name="search" placeholder="Leave empty to look up for all cell types/tissues" />
                <p class="selectionHeader tooltip" id="container_cellTypesHeader">Currently selected <b class="info-icon">&#9432;</b>:<span class="tooltiptext_right">Deselect via button click below</span></p>
                <div class ='selectedButtons' id="container_cellTypes"> </div>

                <div id="threshold_div" style="visibility: hidden;">
                <p id="threshold_header" class="tooltip"><b>Set an activity threshold (optional) <b class="info-icon">&#9432;</b>:</b><span class="tooltiptext_right" style="width:300px;">
                    Only REMs with an activity value above the threshold in ALL of the provided cell types/tissues will be displayed</span></p><br>
                <input style="width:50px; font-size: 16px;" class='inputForm' type="text" id="activ_thresh" name="activ_thresh" placeholder="1.2" /></div>

            </td>

            <td class="searchButtons">
                <div class="ajax_search_list" id="search-results"></div>
            </td>

        </tr>
    </table>


<!-- SUBMIT FORM ---------------------------------------------------------------------------------- -->
<input type="hidden" id="gene_format" name="gene_format" value="symbol_format"/>
<input type="hidden" id="geneSymbol" name="geneSymbol"/>
<input type="hidden" id="cellTypes" name="cellTypes"/>
<input type="hidden" id="csvFile" name="csvFile"/>


<br>
<button type="button" class='ajax_search_list' id="exemplary_query" onclick="exemplaryGeneIDQuery()">Exemplary Query</button>

<input onclick='ButtonsToInput("container_geneSymbol", "geneSymbol"); ButtonsToInput("container_cellTypes", "cellTypes")' type="submit" name="queryButton" id="queryButton" value="Query Database" class="query_database" />

</form>
</div>
</body>


<!--<button type="button" class='ajax_search_list' id="testingFunction" onclick="testingFunction()">TEST TEST</button>-->
{% include 'footer.html' %}
