{% include 'navbar.html' %}
{% load static %}
{% load rem_template_tags %}

<head>
    <title>Gene Query results</title>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/datatables.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/Buttons-1.6.0/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/QueryStyleSheet.css' %}">
    <script src="{% static 'collected_JS_functions.js' %}"></script>

    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/pdfmake-0.1.36/vfs_fonts.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'TableStyleSheet.css' %}">
</head>
<body>
<div id="wrapper">
<br>

{% if no_data|length > 0 %}
<div class="no_data_div" style="padding-left: 20px;"><h1 class="inputLabel" style="font-size: 18px;">The model did not find putative REMs that are associated with the following genes:</h1>
{% for empty in no_data %}
    {{empty}}
{% endfor %}
<br>
</div>
<br>
<br>
{% endif %}

{% if invalid_list|length > 0 %}
<div class="no_data_div" style="padding-left: 20px;"><h1 class="inputLabel" style="font-size: 18px;">The following gene names are not contained in the GRCh38 genome assembly version. You may want to try looking up their ensembl ID.</h1>
{% for invalid in invalid_list %}
    {{invalid}}
{% endfor %}
<br>
</div>
<br>
<br>
{% endif %}

{% if doublets_list|length > 0 %}
<div class="no_data_div" style="padding-left: 20px;"><h1 class="inputLabel" style="font-size: 18px;">There are multiple ensembl IDs available for the following gene symbols.
    All of them are still included in your query. Click on the links to check the GeneCard if necessary. </h1>
{% for double in doublets_list %}
    {{double.0}}:
    {% for ID in double.1 %}
        <a id="GeneCard_link" class="link" href="https://www.genecards.org/Search/Keyword?queryString={{ID}}">{{ID}}</a>
    {% endfor %} <br>
{% endfor %}
<br>
</div>
<br>
<br>
{% endif %}

<div class="gProfilerSpan"><button class="gProfilerButton" id="gProfilerButton" onclick="window.location.href = '{{gP_link}}'">
            Functional enrichment analysis<img src="{% static '/Icons/gProfilerLogo.png' %}" style="width: 80px;" alt='gProfiler-Icon'/><span class="gProfiler_tooltip">
                You will get redirected to the g:Profiler page. The link is adapted to your current query and initiates a functional enrichment analysis of all unique genes in the <b>Gene ID</b> column with default settings.</span></button>
            </div>

<table id="QueryResults" class="cell-border hover order-column" >
    <caption class="table_header">Results based on your query for the genes: {{query_string}}</caption>
<!-- (<a id="gene_detail_link" class="link" href="/geneQuery_search/{{query_link}}/"><strong id="queried_genes">gene details</strong></a>)-->
    <thead>
        <script>
            var export_string = "{{export_string}}";

            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            today = mm + '_' + dd + '_' + yyyy + '_' + 'v' + {{version}};

            $(document).ready( function () {
            $('#QueryResults').DataTable({
                 "aLengthMenu": [[50, 100, -1], [50, 100, "All"]],
                 "pageLength": 50,
                 dom: 'lfBtip',
                 buttons: {
                        buttons: [
                            { extend: 'excel', filename: today.concat("_GeneID_Query__", export_string), title: "", text: 'Download Excel',
                                customize: function ( xlsx ) {
                                    var sheet = xlsx.xl.worksheets['sheet1.xml'];
                                    $('c[r=A1] t', sheet).text('');
                                    $('c[r=A2] t', sheet).text( 'Gene ID' );
                                    $('c[r=B2] t', sheet).text( 'Gene symbol' );
                                    $('c[r=D2] t', sheet).text( 'Chr' );
                                    $('c[r=H2] t', sheet).text( 'Model score' );
                                    $('c[r=I2] t', sheet).text( 'Cluster of REMs (CREM) ID' );
                                    $('c[r=J2] t', sheet).text( 'Number of REMs in the CREM' );
                                }
                                },
                            { extend: 'csv', filename: today.concat("_GeneID_Query__", export_string),text: 'Download CSV',
                                fieldSeparator: '\t',
                                fieldBoundary: "",
                                customize: function (csv) {
                                    csv = customizeCSV(csv);
                                    return csv;
                            },
                            }
                          ]
                      },
                 } );
            } );


        </script>
<!-- { extend: 'pdf', filename: today.concat("_GeneID_Query__", export_string), pageSize: "LEGAL", orientation: 'landscape'}-->

        <tr>

        <th class="tooltip_table">Gene <nobr>ID <b class="info-icon">&#9432;</b></nobr><span class="tooltiptext_top" style="margin-left: -75px; width: 250px;">
            The row entries below will redirect you to the <b>Ensembl</b> entry of the respective gene</span></th>

        {% if gP_link|length > 0 %}
            <th class="tooltip_table">Gene <nobr>symbol <b class="info-icon">&#9432;</b></nobr><span class="tooltiptext_top" style="margin-left: -100px; width: 250px;">
                Click on the IDs below to receive a table with all REMs associated to the selected gene</span></th>
        {% else %}
            <th>Gene symbol</th>
        {% endif %}

            <th>REM ID</th>

<!--            <th class="tooltip_table"><span class="table_icon"><a href="https://genome.ucsc.edu/"><img src="{% static '/Icons/ucscHelixLogo.png' %}"-->
<!--                                                                                                       style="width: 120px; height: 30px; margin-left: 65px; margin-bottom: 10px;" alt = 'UCSC-Icon'/></a></span><nobr>Chr <b class="info-icon">&#9432;</b></nobr>-->
<!--                <span class="tooltiptext_top" style="margin-left: -100px;">-->
<!--                    Click on the chr row entries below to see the region in the <b>UCSC Genome Browser</b></span></th>-->
            <th class="tooltip_table"><nobr>Chr <b class="info-icon">&#9432;</b></nobr>
                <span class="tooltiptext_top" style="margin-left: -100px; width: 250px;">
                    Click on the chr row entries below to see the region in the <b>UCSC Genome Browser</b></span></th>

            <th>REM start</th>

            <th>REM end</th>

            <th>Predicted function</th>

            <th class="tooltip_table" >Model <nobr>score <b class="info-icon">&#9432;</b></nobr><span class="tooltiptext_top" style="margin-left: -150px; width: 200px;">
                Represents the importance of the REM for its associated gene over all cell types</span></th>

            <th class="tooltip_table"><nobr>Cluster of REMs</nobr> <nobr>(CREM) ID <b class="info-icon">&#9432;</b></nobr>
                <span class="tooltiptext_top" style="width:250px;">We define adjacent and overlapping REMs as <b>cluster of REMs (CREMs)</b> with a unique ID</span></th>

            <th class="tooltip_table"><nobr>Number of REMs</nobr> in the <nobr>CREM <b class="info-icon">&#9432;</b></nobr>
                <span class="tooltiptext_top" style="margin-left: -120px;">REMs contained in the CREM. CREMs consist of a minimum of 2 REMs.</span></th>

            {% if data|length > 0 %}
                {% for cellType in cell_types_list_upper %}
            <th class="tooltip_table">{{cellType}} <nobr>score (n={% get_cellType_attr data.0 cellType "samplecount" %}) <b class="info-icon">&#9432;</b></nobr>
                    <span class="tooltiptext_top" style="width:220px;">Importance of a REM in a cell type-specific manner averaged over n samples</span></th>

            <th class="tooltip_table">{{cellType}} DNase <nobr>signal (n={% get_cellType_attr data.0 cellType "samplecount" %}) <b class="info-icon">&#9432;</b></nobr>
                    <span class="tooltiptext_top" style="margin-left: -180px;">Mean of the DNase1 signal in this cell type averaged over n samples</span></th>
                {% endfor %}
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for item in data %}
        <tr>
            <td> <a id="ensembl_link" class="link" href="https://dec2017.archive.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g={{ item.geneID_id }}">{{ item.geneID_id }}</a></td>

            {% if gP_link|length > 0 %}
            <td><a id="gene_link" class="link" href="/geneQuery_search_{{item.geneID_id}}/">{{ item.geneSymbol }}</a></td>
            {% else %}
                <td>{{ item.geneSymbol }}</td>
            {% endif %}

            <td>{{ item.REMID }}</td>
            <td><a class="link" href="https://genome-euro.ucsc.edu/cgi-bin/hgTracks?db=hg38&lastVirtModeType=default&lastVirtModeExtraState=&virtModeType=default&virtMode=0&nonVirtPosition=&position={{item.chr}}%3A{{item.start}}%2D{{item.end}}&hgsid=236086963_0USP3lpsBdlGgMyrEMm5UP1i7oiU">{{ item.chr }}</a></td>
            <td>{{ item.start }}</td>
            <td>{{ item.end }}</td>

            {% if item.regressionCoefficient > 0 %}
                <td>activating</td>
            {% else %}
                <td>repressing</td>
            {% endif %}
            <td>{{ item.normModelScore|floatformat:7 }}</td>

            {% if item.REMsPerCREM > 0 %}
            <td> <a id="crem_link" class="link" href="/cluster/{{ item.CREMID }}/">{{ item.CREMID }}</a></td>
            {% else %}
                <td>No CREM</td>
            {% endif %}
            {% if item.REMsPerCREM > 0 %}
                    <td>{{ item.REMsPerCREM }}</td>
            {% else %}
                <td>-</td>
            {% endif %}

            {% for cellType in cell_types_list %}
                <td>{% get_cellType_attr item cellType "score" %}</td>
                <td>{% get_cellType_attr item cellType "activity" %}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</body>
{% include 'footer.html' %}

