{% include 'navbar.html' %}
{% load static %}
<style>
figure.overview{
    margin-left: 600px;
    margin-top: 30px;
    position: absolute;
}
div.introduction{
    border-bottom: 1px solid #cccccc;
    text-align: justify;

}
div.introBlock{
    float: left;
    display: inline;
    width: 540px;
    text-align: left;
    float: left;
    margin-left: 50px;
}

#Home_nav{
    background:black;
}
</style>

<head>
    <title>EpiRegio</title>
    <link rel="stylesheet" type="text/css" href="{% static '/QueryStyleSheet.css' %}">
</head>

<body>
<div id="wrapper" style="min-height:110%;">
<div class="introBlock">

<h2>Welcome to EpiRegioDB!</h2>
<div class='introduction'><p class="textBox" style="padding-bottom:0px;">

EpiRegio is a resource of Regulatory EleMents (REMs), non-coding DNA regions that are able to regulate the expression
    of their target genes. Identifying REMs and their associated genes is an ongoing challenge in epigenomics, as there is no method
    yet to get a clear readout of a REM and as the target genes can be located up to several kilobases away. <br>
   EpiRegio's data is based on the results of STITCHIT, a peak-calling free algorithm that uses chromatin
accessibility signal in combination with gene expression data to identify gene-specific REMs. For more details, please have a look at our <strong><a class="link" href="https://epiregiodb.readthedocs.io/en/latest/Description.html"> documentation</a></strong>.
   <br> For each REM, EpiRegio provides you with information on its associated gene, its relevance for
 its gene's expression and its activity in different cell types and tissues. With EpiRegio you are able to look into
    regions of interest, analyze the genomic locations that impact the expression of specific genes and access details about
    the REMs.</p>
</div>
    <br>


<h2 class="introduction">Get started </h2>
<div class='introduction' style="font-size: 20px; font-family: Calibri; padding: 25px;">
    You have different options to get the data you want:
    <ul>
    <li>query REMs by looking up specific genes</li>
    <li>look into genomic regions</li>
    <li>get information about the REMs themselves</li>
    <li>or for a more flexible approach make use of the Rest API</li>
    </ul>
    For a detailed documentation including a step-by-step guide and example user cases please visit our <strong><a class="link" href="https://epiregiodb.readthedocs.io/en/latest/"> Read the docs page</a></strong>.
    If you have questions or comments please <strong><a class="link" href="\contact">let us know</a></strong>, we'd be glad to hear them.
</div>
    <br>
    <br>
</div>


<figure class="overview">
<img class='homefig' src="{% static '/overview.png' %}" style="position:absolute; width: 800;" alt = 'overview figure'/>
</figure>
</div>
</body>

{% include 'footer.html' %}


