{% include 'navbar.html' %}
{% load static %}
<style>
figure.homefig{
    float: left;
}
div.introBlock{
    float: left;
    display: inline;
}

p {
    font-family: adhabi;
    font-size: 22px;
    text-align: justify;
    padding: 25px;
}
p.introduction{
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}
blockquote {
    display: block;
    width: 700px;
    text-align: left;
    float: left;
    margin-left: 110px;
}


</style>


<div class="introBlock">



<blockquote>
<h2>Welcome to EpiRegioDB!</h2>
<p class='introduction'> The field of research on gene regulation has considerably grown during the last years
and the acknowledgement of its importance in orchestrating the genetic landscape has expanded.
Enhancers are one of the key players in gene regulation and are defined as DNA sequences that influence
gene expression. They are able to either support or repress the expression of their associated gene.
Due to the ambiguous use of the term enhancers, we introduce the term Regulatory Element (REM).
Identifying REMs is difficult, as there is no method yet to get a clear readout of their sequence.
Different approaches are being used, combining various genomics data to annotate REMs. An even
more challenging task is to link the putative REMs to their related gene.
    <br>
    <br>
Here in this database we provide access to the results of STITCHIT, a peak-calling free algorithm that uses chromatin
accessibility signal to identify gene-specific REMs. Including data of many different samples provides the
possibility to detect segments that show signal variation among the samples which in turn allows a linkage to the current target gene.</p>
    <br>
<h2 class="introduction">Get Started </h2>
<p class='introduction'> You can query the database for REMs using Gene IDs or Gene Regions. Alternatively,
    you can look up for specific REMs. For more support visit our Help page, which includes a short video tutorial.
    If you have questions or comments please let us know, we'd be glad to hear them.
</p></blockquote>
<figure class="homefig">
<img class='STITCHITImg' src="{% static '/STITCHIT_Placholder.png' %}" width="800px" alt = 'logo'/>
<figcaption>Insert descriptive text here <a href="http://dx.doi.org/10.1101/585125"> Preprint Here </a></figcaption>
</figure>
</div>



