{% include 'navbar.html' %}
{% load static %}
<style>
figure.overview{
    margin-left: 650px;
    margin-top: 30px;
    position: absolute;
}
div.introduction{
    border-bottom: 1px solid #cccccc;
}
div.introBlock{
    float: left;
    display: inline;
    width: 600px;
    text-align: left;
    float: left;
    margin-left: 50px;
}
</style>

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/QueryStyleSheet.css' %}">
</head>

<body>
<div id="wrapper" style="min-height:140%;">
<div class="introBlock">

<h2>Welcome to EpiRegioDB!</h2>
<div class='introduction'><p class="textBox"> The field of research on gene regulation has considerably grown during the last years
and the acknowledgement of its importance in orchestrating the genetic landscape has expanded.
One of the key players are non-coding DNA regions that are able to regulate the expression of genes
by remodelling the accessibility of chromatin. They are able to support or repress the expression of their associated gene.
These Regulatory EleMents (REM) can be located far away from their associated genes.
Identifying REMs is difficult, as there is no method yet to get a clear readout of their sequence.
Different approaches are being used, combining various kinds of genomics data to annotate REMs. An even
more challenging task is to link the putative REMs to their associated gene.
    <br>
    <br>
Here we present the EpiRegio webserver, a resource of REMs, providing information about their associated gene, their relevance for
 its gene's expression and their activity in different cell types and tissues. With EpiRegio you are able to look into
    regions of interest, analyze the genomic locations that impact the expression of specific genes and access details about
    the REMs.
    <br>
EpiRegio's data is based on the results of STITCHIT, a peak-calling free algorithm that uses chromatin
accessibility signal to identify gene-specific REMs. For more details, please have a look at the <a class="link" href="http://dx.doi.org/10.1101/585125"> preprint</a>.</p></div>
    <br>


<h2 class="introduction">Get started </h2>
<div class='introduction' style="font-size: 20px; font-family: Times New Roman; padding: 25px;">
    You have different options to get the data you want:
    <ul>
    <li>query REMs by looking up specific genes</li>
    <li>look into genomic regions</li>
    <li>get information about the REMs themselves</li>
    <li>or for a more flexible approach make use of the Rest API</li>
    </ul>
    For more support visit our <a class="link" href="/help">Help</a> page which provides a detailed documentation, including exemplary use cases.
    If you have questions or comments please let us know, we'd be glad to hear them.
</div>
</div>


<figure class="overview">
<img class='homefig' src="{% static '/overview.png' %}" style="position:absolute; width: 1000;" alt = 'overview figure'/>
</figure>
</div>
</body>

{% include 'footer.html' %}


