{% include 'navbar.html' %}
{% load static %}
<style>
img.CREM_img{
    margin-left: 100px;
}
</style>

<head>
    <title>CREM Results</title>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/datatables.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/Buttons-1.6.0/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/QueryStyleSheet.css' %}">
    <script src="{% static 'collected_JS_functions.js' %}"></script>

    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/pdfmake-0.1.36/vfs_fonts.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'TableStyleSheet.css' %}">
</head>
<body>
<div id="wrapper">

    <div class="no_data_div" style="border: 1px solid #bfbfbf; padding: 12px; font-size: 20px;">
        We define <b>C</b>lusters of <b>R</b>egulatory <b>E</b>le<b>M</b>ents (<b>CREMs</b>) as genomic regions that
        contain adjacent and overlapping REMs. Have a look at our <b><a class="link" href="https://epiregiodb.readthedocs.io/en/latest/Description.html#cluster-of-regulatory-elements">documentation</a></b> for more details.</div>

<!--<p class="tooltip"> <img class='CREM_img' src="{% static '/crem_schema2.png' %}" width="800px" alt = 'cluster schema'/>-->
<!--    <span class="tooltiptext_right" style="margin-left: -300px; width: 200px;">This is only a schema, not the actual cluster you selected</span></p>-->
<br>

<div class="gProfilerSpan"><button class="gProfilerButton" id="gProfilerButton" onclick="window.location.href = '{{gP_link}}'">
            Functional enrichment analysis<img src="{% static '/Icons/gProfilerLogo.png' %}" style="width: 80px;" alt='gProfiler-Icon'/><span class="gProfiler_tooltip">
                You will get redirected to the g:Profiler page. The link is adapted to your current query and initiates a functional enrichment analysis of all unique genes in the <b>Gene ID</b> column with default settings.</span></button>
            </div>

<table id="QueryResults" class="cell-border hover order-column">
    <caption class="table_header">REMs contained in the cluster with the ID: <strong id="queried_regions"> {{query}} </strong><p class="tooltip"><a class="link" href="https://genome-euro.ucsc.edu/cgi-bin/hgTracks?db=hg38&lastVirtModeType=default&lastVirtModeExtraState=&virtModeType=default&virtMode=0&nonVirtPosition=&position={{data.0.chr}}%3A{{data.0.start}}%2D{{data.0.end}}&hgsid=236086963_0USP3lpsBdlGgMyrEMm5UP1i7oiU">
        ({{data.0.chr}}: {{data.0.start}} - {{data.0.end}})</a>    <span class="tooltiptext_top" style="margin: -100px; margin-left:-300px; width: 200px;">See the CREM region in the <b>UCSC Genome Browser</b></span></p></caption>

    <thead>
        <script>
            var queried_regions = "{{query}}";

            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            today = mm + '_' + dd + '_' + yyyy + '_' + 'v' + {{version}};

            $(document).ready( function () {
            $('#QueryResults').DataTable({
                 "aLengthMenu": [[50, 100, -1], [50, 100, "All"]],
                 "pageLength": 50,
                 dom: 'lfBtip',
                 buttons: {
                        buttons: [
                            { extend: 'excel', filename: today.concat("_Cluster of REMs__", queried_regions), title:"",text: 'Download Excel',
                                customize: function ( xlsx ) {
                                    var sheet = xlsx.xl.worksheets['sheet1.xml'];
                                    $('c[r=A1] t', sheet).text('');
                                    $('c[r=B2] t', sheet).text( 'Gene ID' );
                                    $('c[r=C2] t', sheet).text( 'Gene symbol' );
                                    $('c[r=D2] t', sheet).text( 'Chr' );
                                    $('c[r=H2] t', sheet).text( 'Model score' );
                                }
                            },
                            { extend: 'csv', filename: today.concat("_Cluster of REMs__", queried_regions),text: 'Download CSV',
                                fieldSeparator: '\t',
                                fieldBoundary: "",
                                customize: function (csv) {
                                    csv = customizeCSV(csv);
                                    return csv;
                            },
                            }                          ]
                      }
                 } );
            } );

        </script>
        <tr>
            <th>REM ID</th>

          <th class="tooltip_table">Gene <nobr>ID <b class="info-icon">&#9432;</b></nobr><span class="tooltiptext_top" style="margin-left: -75px; width: 250px;">
            The row entries below will redirect you to the <b>Ensembl</b> entry of the respective gene</span></th>


            {% if gP_link|length > 0 %}
                <th class="tooltip_table">Gene <nobr>symbol <b class="info-icon">&#9432;</b></nobr><span class="tooltiptext_top" style="margin-left: -100px; width: 250px;">
                    Click on the IDs below to receive a table with all REMs associated to the selected gene</span></th>
            {% else %}
                <th>Gene symbol</th>
            {% endif %}

            <th class="tooltip_table"><nobr>Chr <b class="info-icon">&#9432;</b></nobr>
                <span class="tooltiptext_top" style="margin-left: -100px; width: 250px;">
                    Click on the chr row entries below to see the region in the <b>UCSC Genome Browser</b></span></th>

            <th>REM start</th>

            <th>REM end</th>

            <th>Predicted function</th>

            <th class="tooltip_table" >Model <nobr>score <b class="info-icon">&#9432;</b></nobr><span class="tooltiptext_top" style="margin-left: -150px; width: 200px;">
                Represents the importance of the REM for its associated gene over all cell types</span></th>

        </tr>
    </thead>
    <tbody>
    {% for item in data %}
        <tr>
            <td>{{ item.REMID_id }}</td>

            <td> <a id="ensembl_link" class="link" href="https://dec2017.archive.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g={{ item.REMID_id__geneID }}">{{ item.REMID_id__geneID }}</a></td>

            {% if gP_link|length > 0 %}
            <td><a id="gene_link" class="link" href="/geneQuery_search_{{item.REMID_id__geneID__geneSymbol}}/">{{ item.REMID_id__geneID__geneSymbol }}</a></td>
            {% else %}
                <td>{{ item.REMID_id__geneID__geneSymbol }}</td>
            {% endif %}

            <td><a class="link" href="https://genome-euro.ucsc.edu/cgi-bin/hgTracks?db=hg38&lastVirtModeType=default&lastVirtModeExtraState=&virtModeType=default&virtMode=0&nonVirtPosition=&position={{item.chr}}%3A{{item.start}}%2D{{item.end}}&hgsid=236086963_0USP3lpsBdlGgMyrEMm5UP1i7oiU">{{ item.chr }}</a></td>
            <td>{{ item.REMID_id__start }}</td>
            <td>{{ item.REMID_id__end }}</td>
            {% if item.REMID_id__regressionCoefficient > 0 %}
                <td>activating</td>
            {% else %}
                <td>repressing</td>
            {% endif %}
            <td>{{ item.REMID_id__normModelScore|floatformat:7 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</body>

{% include 'footer.html' %}
