{% include 'navbar.html' %}
{% load static %}
<style>
img.CREM_img{
    margin-left: 100px;
}
</style>

<head>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/datatables.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/Buttons-1.6.0/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/QueryStyleSheet.css' %}">

    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/pdfmake-0.1.36/vfs_fonts.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'TableStyleSheet.css' %}">
</head>


<p class="tooltip"> <img class='CREM_img' src="{% static '/crem_schema.png' %}" width="800px" alt = 'cluster schema'/>
    <span class="tooltiptext_right" style="margin-left: -300px; width: 200px;">This is only a schema, not the actual cluster you selected</span></p>
<br>
<br>
<table id="QueryResults" class="cell-border hover order-column">
    <caption>REMs contained in the cluster with the ID: <strong id="queried_regions"> {{query}} </strong> ({{data.0.chr}}, {{data.0.start}} - {{data.0.end}})</caption>

    <thead>
        <script>
            var queried_regions = "{{query}}";

            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            today = mm + '_' + dd + '_' + yyyy;

            $(document).ready( function () {
            $('#QueryResults').DataTable({
                 "aLengthMenu": [[50, 100, -1], [50, 100, "All"]],
                 "pageLength": 50,
                 dom: 'lfBtip',
                 buttons: {
                        buttons: [
                            { extend: 'excel', filename: today.concat(" Cluster of REMs ", queried_regions)},
                            { extend: 'csv', filename: today.concat(" Cluster of REMs ", queried_regions)},
                            { extend: 'pdf', filename: today.concat(" Cluster of REMs ", queried_regions), pageSize: "LEGAL", orientation: 'landscape'}
                          ]
                      }
                 } );
            } );

        </script>
        <tr>
            <th>REM ID</th>
            <th>Gene ID</th>
            <th>Chromosome</th>
            <th>REM start</th>
            <th>REM end</th>
            <th>Predicted function</th>
            <th class="tooltip_table" style="display: align;">Model score<span class="tooltiptext_top">
                Represents the importance of the REM for its associated gene over all cell types.</span></th>
        </tr>
    </thead>
    <tbody>
    {% for item in data %}
        <tr>
            <td>{{ item.REMID_id }}</td>
            <td>{{ item.REMID_id__geneID }}</td>
            <td>{{ item.chr }}</td>
            <td>{{ item.REMID_id__start }}</td>
            <td>{{ item.REMID_id__end }}</td>
            {% if item.regressionCoefficient > 0 %}
                <td>activating</td>
            {% else %}
                <td>repressing</td>
            {% endif %}
            <td>{{ item.modelScore|floatformat:5 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% include 'footer.html' %}
