{% load static %}
<script src="{% static 'jQuery_3.4.1.js' %}"></script>

<!--Navigation Bar to be included at the top of every site-->

<style>
nav{
    width: 100%;
    position: static;
    display: inline-block;
    min-width: 1400px;
}
div.nav_menu{
    background: linear-gradient(to left top, #0d6980 0%,  #073946 60%);
}

ul.menu {
  list-style-type: none;
  overflow: hidden;
  margin-left: 0.5em;
}

li.menu {
  float: left;
}

li a.menu {
  font-family: adhabi;
  display: block;
  color: white;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 30px;
  font-size: 20px;

}

li.side-menu{
    float: right;
    padding-right: 10px;
}

li:hover {
  background-color: #000000;
}

caption{
    font-family: adhabi;
    font-size: 24;
    text-align: left;
    font-weight: bold;
}


</style>

<nav>
<a href="../../"><img src="{% static 'Logo_EpiRegio3.png' %}" width="400px" alt = 'logo'/></a>
<link rel="shortcut icon" type="image/png" href="{% static '/epiregioico.ico' %}"/>
<div class="nav_menu">
    <ul class="menu">
        <li class="menu" id="Home_nav"><h1> <a class="menu" href="../../" >Home  </a></h1></li>
        <li class="menu" id="GeneQuery_nav"><h1><a class="menu"  href="/geneQuery">Gene Query</a></h1></li>
        <li class="menu" id="RegionQuery_nav"><h1><a class="menu" href="/regionQuery" >Region Query</a></h1></li>
        <li class="menu" id="REMQuery_nav"><h1><a class="menu" href="/REMQuery" >REM Query</a></h1></li>
        <li class="menu" id="RESTAPI_nav"><h1><a class="menu" href="/REST_API">REST API</a></h1></li>
        <li class="menu" id="Download_nav"><h1><a class="menu" href="/download">Download</a></h1></li>
        <li class="menu side-menu" id="Contact_nav"><h1><a class="menu side-menu" href="/contact">Contact</a></h1></li>
        <li class="menu side-menu"><h1><a class="menu side-menu" href="https://epiregiodb.readthedocs.io/en/latest/">Documentation</a></h1></li>
    </ul>
</div>
</nav>
