{% load static %}
<script src="{% static 'jQuery 3.4.1.js' %}"></script>
<script src="{% static 'jquery-validation-1.19.1/dist/jquery.validate.js' %}"></script>

<!--Navigation Bar to be included at the top of every site-->



  <form class="asd" action="" name="registration" id="registration">

    <label for="firstname">First Name</label>
    <input type="text" name="firstname" id="firstname" placeholder="John" />

    <label for="lastname">Last Name</label>
    <input type="text" name="lastname" id="lastname" placeholder="Doe"/>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="john@doe.com"/>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"/>

    <button class="ASda" type="submit">Register</button>

  </form>

<script>
 $("#registration").validate({
   rules: {
     firstname: "required",
   },
   messages:{
     firstname: "rattata banana",
    }
 });

</script>