{% load static %}
<script src="{% static 'jQuery_3.4.1.js' %}"></script>

<!--Navigation Bar to be included at the top of every site-->

<style>
nav{
    width: 100%;
    position: relative;
    display: inline-block;
    min-width: 1400px;
}
div.nav_menu{
    background: linear-gradient(to left top, #0d6980 0%,  #073946 60%);
}

ul.menu {
  list-style-type: none;
  overflow: hidden;
  margin-left: 1em;
}

li.menu {
  float: left;
}

li a.menu {
  font-family: adhabi;
  display: in-line;
  color: white;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 20px;
}

li.side-menu{
    float: right;
    padding-right: 20px;
}

li a:hover {
  background-color: #000000;
}

caption{
    font-family: adhabi;
    font-size: 24;
    text-align: left;
    font-weight: bold;
}

</style>

<nav>
<a href="../../"><img src="{% static 'Logo_EpiRegio2.png' %}" width="400px" alt = 'logo'/></a>
<link rel="shortcut icon" type="image/png" href="{% static '/epiregioico.ico' %}"/>
<div class="nav_menu">
    <ul class="menu">
        <li class="menu"><h1><a class="menu" href="../../" style="padding-right: 40px;"> Home </a></h1></li>
        <li class="menu" ><h1><a class="menu" style="padding-left: 40px; padding-right: 15px;" href="/geneQuery"> Gene Query </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/regionQuery" style="padding-right: 15px; padding-left:15px;"> Region Query </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/REMQuery" style="padding-right: 50px; padding-left:15px;"> REM Query </a></h1></li>
        <li class="menu"><h1><a class="menu" href="/REST_API"> REST API</a></h1></li>
        <li class="menu side-menu"><h1><a class="menu side-menu" href="/contact">Contact</a></h1></li>
        <li class="menu side-menu"><h1><a class="menu side-menu" href="https://epiregiodb.readthedocs.io/en/latest/">Documentation</a></h1></li>
    </ul>
</div>
</nav>
