{% include 'navbar.html' %}
{% load static %}
{% load rem_template_tags %}

<head>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/datatables.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/Buttons-1.6.0/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/QueryStyleSheet.css' %}">

    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/pdfmake-0.1.36/vfs_fonts.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'TableStyleSheet.css' %}">
</head>
<table id="QueryResults" class="cell-border hover order-column">
    <caption>Results based on your Query for the regions: <strong id="queried_regions"> {{query_string}} </strong></caption>
        <br>
        <br>
    <thead>
        <script>
            var queried_regions = "{{export_string}}";

            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            today = mm + '_' + dd + '_' + yyyy;

            $(document).ready( function () {
            $('#QueryResults').DataTable({
                 "aLengthMenu": [[50, 100, -1], [50, 100, "All"]],
                 "pageLength": 50,
                 dom: 'lfBtip',
                 buttons: {
                        buttons: [
                            { extend: 'excel', filename: today.concat(" GeneRegion Query ", queried_regions)},
                            { extend: 'csv', filename: today.concat(" GeneRegion Query ", queried_regions)},
                            { extend: 'pdf', filename: today.concat(" GeneRegion Query ", queried_regions), pageSize: "LEGAL", orientation: 'landscape'}
                          ]
                      }
                 } );
            } );

        </script>
        <tr>
{% if data != None %}
            <th>REM ID</th>
            <th>Gene ID</th>
            <th>Chromosome</th>
            <th>REM start</th>
            <th>REM end</th>
            <th>Regression coefficient</th>
            <th class="tooltip_table"> <i>p</i> Value<span class="tooltiptext_top">
                The <i>p</i> value represents all cell types for the respective REM.</span></th>
            <th>associated REM cluster</th>
            {% for cellType in cell_types_list %}
                <th>{{cellType}} activity (n={% get_cellType_attr data.0 cellType "samplecount" %})</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for item in data %}
        <tr>
            <td>{{ item.REMID }}</td>
            <td>{{ item.geneID_id }}</td>
            <td>{{ item.chr }}</td>
            <td>{{ item.start }}</td>
            <td>{{ item.end }}</td>
            <td>{{ item.regressionCoefficient|floatformat:5 }}</td>
            <td> {{item.pValue|floatformat:5 }}</td>
            <td> <a class="link" id="crem_link" href="/cluster/{{ item.CREMID }}/">{{ item.CREMID }} (incl. {{ item.REMsPerCREM }} REMs)</a></td>
            {% for cellType in cell_types_list %}
                <td>{% get_cellType_attr item cellType "activity" %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
{% endif %}
</table>


