{% include 'navbar.html' %}
{% load static %}
{% load rem_template_tags %}

<head>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/datatables.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/Buttons-1.6.0/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/DataTables/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/QueryStyleSheet.css' %}">
    <script src="{% static 'collected_JS_functions.js' %}"></script>

    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/Buttons-1.6.0/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static '/DataTables/pdfmake-0.1.36/vfs_fonts.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'TableStyleSheet.css' %}">
</head>
<body>
<div id="wrapper">

{% if invalid_list|length > 0 %}
<div class="no_data_div" style="padding-left: 20px;"><h1 class="inputLabel" style="font-size: 18px;">These are not valid REM IDs:</h1>
{% for invalid in invalid_list %}
    {{invalid}}
{% endfor %}
<br>
</div>
<br>
<br>
{% endif %}

<table id="QueryResults" class="cell-border hover order-column">
    <caption>Results based on your query for the REMs: <strong id="queried_REMs"> {{query_string}} </strong></caption>
        <br>

    <thead>
        <script>
            var queried_REMs = "{{export_string}}";

            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            today = mm + '_' + dd + '_' + yyyy;

            $(document).ready( function () {
            $('#QueryResults').DataTable({
                 "aLengthMenu": [[50, 100, -1], [50, 100, "All"]],
                 "pageLength": 50,
                 dom: 'lfBtip',
                 buttons: {
                        buttons: [
                            { extend: 'excel', filename: today.concat("_REM_Query__", queried_REMs),
                                customize: function ( xlsx ) {
                                    var sheet = xlsx.xl.worksheets['sheet1.xml'];
                                    $('c[r=B3] t', sheet).text( 'Gene ID' );                                    $('c[r=D3] t', sheet).text( 'Chromosome' );
                                    $('c[r=D3] t', sheet).text( 'Chr' );
                                    $('c[r=H3] t', sheet).text( 'Model score' );
                                    $('c[r=I3] t', sheet).text( 'Associated REM cluster' );
                                    $('c[r=H3] t', sheet).text( 'Model score' );
                                }},
                            { extend: 'csv', filename: today.concat("_REM_Query__", queried_REMs),
                                fieldSeparator: '\t',
                                fieldBoundary: "",
                                customize: function (csv) {
                                    csv = customizeCSV(csv);
                                    return csv;
                            },
                            },
                            { extend: 'pdf', filename: today.concat("_REM_Query__", queried_REMs), pageSize: "LEGAL", orientation: 'landscape'}
                          ]
                      }
                 } );
            } );

        </script>
        <tr>
            <th>REM ID</th>
            <th class="tooltip_table">Gene ID <b class="info-icon">&#9432;</b><span class="tooltiptext_top" style="margin-left: -100px;">
                Click on the IDs below to receive a table with all REMs associated with the selected gene</span></th>
            <th>Gene symbol</th>
            <th class="tooltip_table">Chr <b class="info-icon">&#9432;</b><span class="tooltiptext_top" style="margin-left: -100px;">
                Click on the chr below to view the region in the UCSC Genome Browser</span></th>
            <th>REM start</th>
            <th>REM end</th>
            <th>Predicted function</th>
            <th class="tooltip_table" style="display: align;">Model score <b class="info-icon">&#9432;</b><span class="tooltiptext_top" style="margin-left: -150px;">
                Represents the importance of the REM for its associated gene over all cell types.</span></th>
            <th class="tooltip_table">Associated REM cluster <b class="info-icon">&#9432;</b><span class="tooltiptext_top">REMs overlapping by at least 1 bp form a cluster</span></th>
            {% if data|length > 0 %}
            {% for cellType in cell_types_list_upper %}
                <th class="tooltip_table">{{cellType}} score (n={% get_cellType_attr data.0 cellType "samplecount" %}) <b class="info-icon">&#9432;</b>
                    <span class="tooltiptext_top" style="width:280px;">Importance of a REM in a cell type-specific manner averaged over n samples (includes the DNase activity)<b class="info-icon">&#9432;</b></span></th>

                <th class="tooltip_table">{{cellType}} activity <b class="info-icon">&#9432;</b>
                    <span class="tooltiptext_top" style="margin-left: -120px;">Mean of the normalized DNase1 signal<b class="info-icon">&#9432;</b></span></th>
            {% endfor %}
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for item in data %}
        <tr>
            <td>{{ item.REMID }}</td>
            <td><a id="gene_link" class="link" href="/geneQuery_search_{{item.geneID_id}}/">{{ item.geneID_id }}</a></td>
            <td>{{ item.geneSymbol }}</td>
            <td><a class="link" href="https://genome-euro.ucsc.edu/cgi-bin/hgTracks?db=hg38&lastVirtModeType=default&lastVirtModeExtraState=&virtModeType=default&virtMode=0&nonVirtPosition=&position={{item.chr}}%3A{{item.start}}%2D{{item.end}}&hgsid=236086963_0USP3lpsBdlGgMyrEMm5UP1i7oiU">{{ item.chr }}</a></td>
            <td>{{ item.start }}</td>
            <td>{{ item.end }}</td>
            {% if item.regressionCoefficient > 0 %}
                <td>activating</td>
            {% else %}
                <td>repressing</td>
            {% endif %}
            <td>{{ item.modelScore|floatformat:5 }}</td>
            <td> <a id="crem_link" class="link" href="/cluster/{{ item.CREMID }}/">{{ item.CREMID }} - incl. {{ item.REMsPerCREM }} REMs</a></td>
            {% for cellType in cell_types_list %}
                <td>{% get_cellType_attr item cellType "score" %}</td>
                <td>{% get_cellType_attr item cellType "activity" %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</body>

{% include 'footer.html' %}
